body{
    background-color: slategrey;
}
.name{
    background-color: skyblue;
}
.music{
    background-color: aliceblue;
}
.heading{
    background-color: cyan;
}
.row{
    text-align: center;
}

.gamename{
    background-color: brown;
}

#head{
    text-align: center;
    background-color: palegoldenrod;
    font-size: 46px ;
    border-style: solid;
    border-radius: 10px;
    vertical-align: middle;
}

#cordIcon img {
  border-radius: 50%;
  vertical-align: middle;
}
#cordText{
    font-size: 20px;
    border-radius: 30%;
}
#cordContact{
    border-width: 2px;
    border-style: dashed;
}
.contactBox{
    border-style: double;
    background-color: rgb(131, 131, 236);
    border-color: rgb(65, 65, 199);
    padding: 10px 15px; /*vertical and horizontal   */
}
#jobs{
    display: flex; /*flex box for stacking shi; sideways stacking by default*/
    justify-content: space-around; /*puts space before and after everything in it*/
}
#yesjob{
    border-right: 2px solid;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
#nojob{
    border-left:2px solid;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
#musicTable{
    border-width: 2px;
    border-style: solid;
    background-color: rgb(153, 197, 247);
}
#jumpscare{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}
#sybau{
    display: block;
    text-align: center;
}